:root {
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --accent-color: #2196f3;
  --button-color: #f5f4fa;
  --primary-white-color: #ffffff;
  --bg-footer-color: #2f303a;
  --bg-secondry-color: #f5f4fa;
  --clients-team-icon-color: #afb1b8;
  --background-color-work: rgba(47, 48, 58, 0.8);
  --accent-color-portfolio-card: rgba(33, 150, 243, 0.9);
  --backdrop-background-color: rgba(0, 0, 0, 0.1);
  --input-modal-form-border: rgba(33, 33, 33, 0.2);
  --header-border-color: #ececec;

  --time-animation: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*-----global reset styles-----*/
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/*-----common styles-----*/
body {
  max-width: 1600px;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*--------HEADER-------*/
.header {
  border-bottom: 1px solid var(--header-border-color);
}

.header__container {
  display: flex;
  align-items: center;
}

/*---logo---*/
.site-nav__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  align-items: center;

  font-family: raleway;
  font-size: 26px;
  line-height: 1.192;
  font-weight: 700;

  color: var(--accent-color);
  transition: text-shadow var(--time-animation) var(--timing-function);
}

.site-nav__span {
  color: var(--primary-title-color);
}

.site-nav__logo:hover,
.site-nav__logo:focus {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}

/*---navigation---*/
.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__list,
.contact__list {
  display: flex;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.625;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.site-nav__list {
  width: 294px;
  margin-right: auto;
  justify-content: space-between;
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-title-color);

  transition: color var(--time-animation) var(--timing-function);
}

.contact__list {
  margin-left: auto;
}

.contact__item {
  margin-right: 30px;
}

.contact__item:last-child {
  margin-right: 0;
}

.contact__link {
  padding-top: 28px;
  padding-bottom: 28px;

  display: flex;
  align-items: center;

  color: var(--primary-text-color);

  transition: color var(--time-animation) var(--timing-function);
}

.contact__icon {
  margin-right: 10px;

  fill: currentColor;
}

.site-nav__link:hover,
.site-nav__link:focus,
.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  position: relative;

  color: var(--accent-color);
}

.site-nav__link--current::after {
  content: "";

  position: absolute;
  bottom: -1px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

/*--------HERO--------*/
.hero {
  max-width: 1600px;
  max-height: 600px;
  margin: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;

  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--bg-footer-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/peoplebackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-bottom: 30px;

  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  color: var(--primary-white-color);
}

/*---hero button---*/
.hero__btn {
  min-width: 200px;
  height: 50px;

  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--primary-white-color);

  transition: box-shadow var(--time-animation) var(--timing-function);
}

.hero__btn:hover,
.hero__btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*---hero modal---*/
.hero__backdrop {
  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  background-color: var(--backdrop-background-color);
  z-index: 99;
}

.hero__backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.hero__modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: var(--primary-white-color);
  border-radius: 4px;

  transform: translate(-50%, -50%);

  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.hero__close {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  color: var(--primary-white-color);
  background-color: var(--primary-white-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transform: translate(-8px, 8px);
  transition: fill var(--time-animation) var(--timing-function);
}

.hero__close:hover,
.hero__close:focus {
  fill: var(--accent-color);
  outline: none;
}

/*---modal form---*/
.modal__name {
  margin-bottom: 12px;

  color: var(--primary-title-color);
  font-family: Roboto, sans-serif;
  font-size: 20px;
  line-height: 1.172;
  font-weight: 700;
  text-align: center;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__container {
  position: relative;
}

.modal__icon {
  position: absolute;
  top: 11px;
  left: 12px;

  display: inline-block;
  transition: fill var(--time-animation) var(--timing-function);
}

.modal__label {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;

  margin-bottom: 4px;
}

.modal__input {
  height: 40px;
  width: 448px;
  margin-bottom: 10px;

  border: 1px solid var(--input-modal-form-border);
  background-color: var(--primary-white-color);
  border-radius: 4px;

  padding-left: 42px;

  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  cursor: pointer;

  transition: border-color var(--time-animation) var(--timing-function);
}

.modal__container:focus-within > .modal__icon {
  fill: var(--accent-color);
}

.modal__container:hover > .modal__icon {
  fill: var(--accent-color);
}

.modal__input:focus,
.modal__input:hover {
  border-color: var(--accent-color);
  outline: none;
}

.modal__textarea {
  height: 120px;
  resize: none;

  margin-bottom: 20px;
  padding: 12px 16px;
}

.modal__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__container--checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.modal__label--checkbox {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.01em;
  text-align: left;

  cursor: pointer;
}

.modal__link {
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  transition: border-bottom var(--time-animation) var(--timing-function),
    font-weight var(--time-animation) var(--timing-function);
}

.modal__link:focus {
  border-bottom: 2px solid var(--accent-color);
  font-weight: 400;
  outline: none;
}

/*---modal checkbox---*/
.modal__input--checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.modal__icon--checkbox {
  display: block;
  width: 16px;
  height: 15px;

  border-radius: 2px;
  border: 2px solid var(--primary-title-color);

  margin-right: 8.38px;

  cursor: pointer;

  transition: border-color var(--time-animation) var(--timing-function),
    background-color var(--time-animation) var(--timing-function);
}

.modal__input--checkbox:checked:focus + .modal__icon--checkbox {
  border-color: transparent;
  background-color: var(--accent-color);
}

/*---modal button---*/
.modal__btn {
  width: 200px;
  height: 55px;
  background-color: var(--accent-color);
  border-color: transparent;
  border-radius: 4px;

  margin: auto;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-white-color);

  cursor: pointer;

  transition: text-shadow var(--time-animation) var(--timing-function);
}

.modal__btn:hover,
.modal__btn:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: none;
}

/*--------FEATURE--------*/
.feature__title {
  display: none;
}

.feature__label {
  margin-bottom: 10px;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;

  color: var(--primary-title-color);
}

.feature__description {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.feature__list {
  display: flex;
  flex-wrap: wrap;
}

.feature__item {
  width: 270px;
}

.feature__item:not(:last-child) {
  margin-right: 30px;
}

.features__background {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--button-color);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  border-radius: 4px;
}
.feature__icon {
  width: 70px;
  height: 70px;
}

/*-------ACTIVITY-------*/
.activity__section {
  padding-top: 0;
}

.activity__title {
  margin-bottom: 50px;

  font-family: Roboto, sans-serif;
  color: var(--primary-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
}

.activity__list {
  display: flex;
  flex-wrap: wrap;
}

.activity__item {
  position: relative;

  margin-right: 30px;
}

.activity__item:nth-child(3n) {
  margin-right: 0;
}

.activity__description {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  margin: 0;

  background-color: var(--background-color-work);
  color: var(--primary-white-color);

  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*--------TEAM---------*/
.team__section {
  background-color: var(--bg-secondry-color);
}

.team__title {
  margin-bottom: 50px;

  font-family: Roboto, sans-serif;
  color: var(--primary-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
}

.team__lable {
  margin-bottom: 10px;

  color: var(--primary-title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;

  text-align: center;
}

.team__description {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.1875;

  text-align: center;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
}

.team__item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team_group {
  margin: 30px 32px;
}
.team__social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team__social-item {
  width: 44px;
  height: 44px;
}

.team__icon {
  margin: 12px 0px 0px 12px;
  fill: currentColor;
}

.team__link {
  width: 44px;
  height: 44px;
  display: block;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  color: var(--clients-team-icon-color);

  transition: color var(--time-animation) var(--timing-function),
    background-color var(--time-animation) var(--timing-function);
}

.team__link:hover,
.team__link:focus {
  border-radius: 50%;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/*--------CLIENTS--------*/
.client__title {
  margin-bottom: 50px;

  font-family: Roboto, sans-serif;
  color: var(--primary-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
}

.client__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.client__item {
  width: 170px;
  height: 92px;

  transition: color var(--time-animation) var(--timing-function),
    border-color var(--time-animation) var(--timing-function);
}
.client__icon {
  margin: 16px 32px;
  fill: currentColor;
}
.client__link {
  width: 170px;
  height: 92px;
  display: block;
  border-radius: 4%;
  border: 1px solid var(--clients-team-icon-color);
  background-color: var(--primary-white-color);
  color: var(--clients-team-icon-color);

  transition: color var(--time-animation) var(--timing-function),
    border-color var(--time-animation) var(--timing-function);
}

.client__link:hover,
.client__link:focus,
.client__item:hover,
.client__item:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/*--------PORTFOLIO--------*/
.portfolio__title {
  display: none;
}

/*---button list---*/
.portfolio__btn {
  padding: 6px 22px;

  display: inline-block;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;

  border-radius: 4px;
  border-color: transparent;
  background-color: var(--button-color);

  cursor: pointer;

  transition: color var(--time-animation) var(--timing-function),
    background-color var(--time-animation) var(--timing-function),
    box-shadow var(--time-animation) var(--timing-function);
}
.portfolio__btn:hover,
.portfolio__btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.portfolio__btn--primary {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.portfolio__btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio__btn-item:not(:last-child) {
  margin-right: 8px;
}

/*---portfolio list---*/
.portfolio__lable {
  font-family: Roboto, sans-serif;
  color: var(--primary-title-color);
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.portfolio__text {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.875;
}
.portfolio__link {
  display: block;

  transition: box-shadow var(--time-animation) var(--timing-function);
}
.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.portfolio__item {
  margin: 15px;
  flex-basis: calc(100% / 3 - 30px);
}
.portfolio__border {
  border: 1px solid #eeeeee;
  border-top: transparent;
  padding: 20px 24px;
}

/*---animation overlay in portfolio---*/

.portfolio__card:hover::before {
  content: "";
  opacity: 1;
}

.portfolio__card {
  position: relative;

  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--accent-color-portfolio-card);

  transform: translateY(100%);
  opacity: 0;
  transition: transform var(--time-animation) var(--timing-function),
    opacity var(--time-animation) var(--timing-function);
}

.portfolio__link:hover .portfolio__overlay {
  transform: translateY(0);
  opacity: 1;
}

.portfolio__description {
  position: absolute;

  margin: 63px 24px;

  font-family: Roboto, sans-serif;
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

/*-------FOOTER-------*/
.footer {
  background-color: var(--bg-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

/*---address---*/
.footer__logo--span {
  color: var(--primary-white-color);
}

.footer__logo {
  display: block;
  margin-bottom: 20px;

  align-items: center;

  font-family: raleway;
  font-size: 26px;
  line-height: 1.192;
  font-weight: 700;

  color: var(--accent-color);
  transition: text-shadow var(--time-animation) var(--timing-function);
}

.footer__group {
  margin-right: 70px;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  font-family: Roboto, sans-serif;
  line-height: 1.714;
}

.footer__link--white {
  color: var(--primary-white-color);

  transition: color var(--time-animation) var(--timing-function);
}

.footer__link:hover,
.footer__link:focus {
  color: var(--accent-color);
}

/*---social links*/
.footer__social {
  width: 206px;
  height: 80px;
}

.footer__title {
  margin-bottom: 20px;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.172;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__social-item {
  width: 44px;
  height: 44px;
}

.footer__icon {
  margin: 12px 0px 0px 12px;
  fill: currentColor;
}

.footer__social-link {
  width: 44px;
  height: 44px;
  display: block;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);

  transition: color var(--time-animation) var(--timing-function),
    background-color var(--time-animation) var(--timing-function);
}

.footer__social-link:hover,
.footer__social-link:focus {
  border-radius: 50%;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/*---footer email form---*/
.footer__form {
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.email__title {
  margin-bottom: 20px;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  text-align: left;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.email__input {
  width: 358px;
  height: 50px;

  margin-right: 7.79px;
  padding: 15px 16px;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);

  background-color: var(--bg-footer-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  transition: box-shadow var(--time-animation) var(--timing-function);
}

.email__input:hover,
.email__input:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: none;
}

.email__input::placeholder {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-align: left;

  color: rgba(255, 255, 255, 0.6);
}

.footer__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-white-color);

  background-color: var(--accent-color);
  border-color: transparent;
  border-radius: 4px;

  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--time-animation) var(--timing-function);
}

.email__icon {
  display: block;
  margin-left: 10px;
  fill: currentColor;
}

.footer__btn:hover,
.footer__btn:focus {
  background-color: rgba(255, 255, 255, 0.1);
}
